# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.sqlite3

# Environments
.env
.env.*
.venv/

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# DBT artifacts
my_project/target/
my_project/dbt_modules/

# Docker
*.pid

# System
.DS_Store
Thumbs.db

# Secrets
.env
.env.sample
requirements-dev.txt
data/